---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
import { CldImage } from 'astro-cloudinary';
import { getCollection } from 'astro:content';

const assets = await getCollection('assets');
// console.log(assets);
---

<Layout title={`Photos`}>
	<Container class="mt-12">
	  <header class="mb-12">
		<h1>
		  test23 
		</h1>
	  </header>
	  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">
		{assets.map(({ data: resource }) => {
		  return (
				<li>
				  <a href={`${resource.secure_url}`}>
					<CldImage
					  width={1200}
					  height={1200}
					  src={resource.public_id}
					  crop={{
						source: true,
						type: 'auto'
					  }}
					  alt=""
					  sizes="(min-width: 768px) 33.33vw, 50vw"
					/>
				  </a>
				</li>
		  )
		})}
	  </ul>
	</Container>
  </Layout>