---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const assets = await getCollection('assets');
// console.log(assets);
---

<Layout title={`Stories`}>
  <Container class="mt-12 flex justify-center">
    <div class="prose max-w-none"> <!-- Use prose class for text styling -->
      <h1>
        Stories and Thoughts about Walter
      </h1>
      <p class="prose">This page will have stories and thoughts that people have and want to share about Walter. Please email <a href="mailto:damienrj+walter@gmail.com,">damienrj+walter@gmail.com,</a>&nbsp;also feed free to include picture which we will also add.</p>
    </div>
  </Container>
</Layout>