---
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const assets = await getCollection('assets');
// console.log(assets);
---

<Layout title={`Stories`}>
  <Container class="mt-12"> <!-- Add Container component with top margin -->
    <div class="prose max-w-none"> <!-- Use prose class for text styling -->
      <h1>
        test2 
      </h1>
	    <p>Testing the css. Testing the css. Testing the css. Testing the css.</p>
    </div>
  </Container>
</Layout>