---
import { Astronav, MenuItems, MenuIcon,  Dropdown, DropdownItems } from "astro-navbar";
import "../styles/global.css";
---

<header class="lg:flex p-5 gap-5 justify-between items-center">
  <Astronav>
    <div class="flex w-full justify-between items-center">
      <a class="text-2xl font-bold" href="/">Walter L Johnson Memorial</a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex lg:justify-center lg:items-center w-full">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li><a href="/photo" class="text-lg font-medium hover:text-blue-500">Photos</a></li>
        <li><a href="/stories" class="text-lg font-medium hover:text-blue-500">Stories</a></li>
        <li><a href="/funeral-and-celebration" class="text-lg font-medium hover:text-blue-500">Funeral and Celebration of Life</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>